<!-- Object To Dictionary

        public static Dictionary<string, string> ObjectAttributeToDictionary<T>(T obj)
        {
            Dictionary<string, string> attributes = new Dictionary<string, string>();
            try
            {
                Logger.Information("Serializer::ObjectAttributeToDictionary::135");
                PropertyInfo[] propertyInfos = obj.GetType().GetProperties();
                foreach (PropertyInfo propertyInfo in propertyInfos)
                {
                    if(propertyInfo.PropertyType == typeof(string) || propertyInfo.PropertyType == typeof(bool) ||
                        propertyInfo.PropertyType == typeof(int) || propertyInfo.PropertyType == typeof(DateTime))
                    {
                        attributes.Add(propertyInfo.Name, propertyInfo.GetValue(obj)?.ToString() ?? "");
                    }
                }
                Logger.Information("Serializer::ObjectAttributeToDictionary::138");
            }
            catch (Exception ex)
            {
                Logger.Error(ex, ex.Message);
            }
            Logger.Information("Serializer::ObjectAttributeToDictionary::144");
            return attributes;
        }

        ---------------------------------------------

        Dictionary To JSON
        public static string DictionaryToJSON(Dictionary<string, string> attributes)
        {
            dynamic obj = new ExpandoObject();
            foreach (KeyValuePair<string, string> attribute in attributes)
            {
                AddProperty(obj, attribute.Key, attribute.Value);
            }

            string result = JsonConvert.SerializeObject(obj);

            return result;
        }


 -->

 